@model IEnumerable<HRIS.Models.EmployeeLeaveManagementViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Home-Supervisor</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SupervisorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeaveType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsApproved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SupervisorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsApprovedStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "SupervisorEdit", new { id = item.Id }) |
            </td>
        </tr>
    }

</table>
